In [2]:
import pandas as pd
import sqlite3
import os

In [5]:
conn = sqlite3.connect('data/steam_reviews_with_timestamp.db')
print("Connected to SQLite")
 
# Getting all tables from sqlite_master
sql_query = """SELECT * from reviews"""
 
df = pd.read_sql_query(sql_query, conn)

Connected to SQLite

In [6]:
df.head()

,id,app_id,content,author_id,is_positive,timestamp_created
0,182230666,10,old cs,76561199543367453,Positive,1733647074
1,182219148,10,Ну для старперов сранных норм\r\n,76561199178774423,Positive,1733634985
2,182201595,10,fun game,76561199499216575,Positive,1733617809
3,182192781,10,Best game,76561198865144644,Positive,1733610483
4,182189042,10,in another life before Steam.,76561197962303676,Positive,1733607649